<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mygento_js_bundler>
            <general>
                <enabled>1</enabled>
            </general>
        </mygento_js_bundler>
    </default>
</config>
