<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mygento\JsBundler\Api\RequireJsConfigAssetReceiverInterface"
                type="Mygento\JsBundler\Model\RequireJsConfigAssetReceiver"/>
    <preference for="Mygento\JsBundler\Api\RequireJsConfigCreatorInterface"
                type="Mygento\JsBundler\Model\RequireJsConfigCreator"/>

    <type name="Magento\Deploy\Service\Bundle">
        <plugin name="jsbundler_builder" type="Mygento\JsBundler\Plugin\Builder" sortOrder="50"/>
    </type>

    <type name="Magento\Framework\RequireJs\Config">
        <plugin name="jsbundler_config" type="Mygento\JsBundler\Plugin\Config" sortOrder="50"/>
    </type>

    <type name="Magento\Framework\View\Xsd\Media\TypeDataExtractorPool">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="jsbundles" xsi:type="object">Mygento\JsBundler\Model\Extractor</item>
            </argument>
        </arguments>
    </type>
</config>
