<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Deploy\Service\Bundle">
        <plugin name="builder" type="Mygento\JsBundler\Plugin\Builder" sortOrder="50"/>
    </type>

<!--    <type name="Magento\Framework\Config\View">
        <arguments>
            <argument name="xpath" xsi:type="array">
                <item name="bundles" xsi:type="array">
                    <item name="/view/media/jsbundles" xsi:type="array">
                        <item name="id" xsi:type="string">name</item>
                    </item>
                    <item name="/view/media/jsbundles/bundle" xsi:type="array">
                        <item name="id" xsi:type="string">type</item>
                        <item name="id2" xsi:type="string">item</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>-->

    <type name="Magento\Framework\View\Xsd\Media\TypeDataExtractorPool">
        <arguments>
            <argument name="extractors" xsi:type="array">
                <item name="jsbundles" xsi:type="object">Mygento\JsBundler\Model\Extractor</item>
            </argument>
        </arguments>
    </type>
</config>